


body{
    background-color: blue;
    background-image: url("cupcake-3723832_960_720.jpg");
    background-size: 100%;
    background-size: cover;

    max-width:vw;
    max-height:vh;

    background-image: url("cupcake-3723832_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#sitemenus
{
    background: white;
    width: 100%;
    display: inline-block;
}


#sitemenus a
{
    display: inline-block;
    background: whitesmoke;
    color: black;
    margin: 10px;
    padding: 10px;
}

h2{
    margin: auto;
    text-align: center;  

}

h1{
    color: green;
    margin: auto;
    text-align: center; 
}

p{
    margin: auto;
    text-align: center;
}
p {
    color: red;
    font-size: 20px;
    margin: auto;
}

#myp2 {
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
    width:500px;}

#sitemenus #site{
    width: 50%;
    float: left;
    text-align: left;}

#sitemenus #user
{    width: 50%;
    float: right;
    text-align: right;}

#sitemenus #user form
{
    float: right;
    margin: 10px;}

#sitemenus #user form input{
    border: solid black 1px;
    padding: 10px;}

#Div1{
    margin: auto;
    text-align: center;
    width:60vw;
    color: green;}

#Div2{
    margin: auto;
    text-align: center;
    width:300px;   
}
#myp2{
    margin: auto;
    text-align: center;
}

h1
{
    text-align: center;

}

h1.solid {
    margin: auto;
    border-left-style: dotted;
    border-right-style: dotted;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 400px;
    text-align: center;
}

h2 {
    margin: 25px 50px;
}

h3 {
    margin: 25px 50px;
}

form {
    margin: 25px 50px;
}

p {
    margin: 25px 50px;
}

#divList {
    border: 1px solid black;
    margin: 25px 50px;
    background-color: lightblue;
    width: vw;
}

#divLogin{
    margin: auto;
    text-align: center;

    width:600px;

    width: 400;
}

body{
    max-width:vw;
    max-height:vh;
    background-image: url("cupcake-3723832_960_720.jpg");
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    /*    opacity: 0.4;*/

}