#sitemenus
{
    background: lightgrey;
    width: 100%;
    display: inline-block;
}

#sitemenus a
{
    display: inline-block;
    background: white;
    color: black;
    margin: 10px;
    padding: 10px;
}

#sitemenus #site
{
    width: 50%;
    float: left;
    text-align: left;
}

#sitemenus #user
{
    width: 50%;
    float: right;
    text-align: right;
}

<<<<<<< HEAD
#sitemenus #user form
{
    float: right;
    margin: 10px;
}

#sitemenus #user form input
{
    border: solid black 1px;
    padding: 10px;
}

h1
{
=======
#Div1{
    background:green !important;
    margin: auto;
    text-align: center;
    width:600px;
    color: pink;
    border: green;
}
/*// #Div1{
#Div2{
    background:red !important;

#Div1{
    margin: auto;
    text-align: center;
    width:900px;
    color: pink;
    border: yellow;
} --%>*/
#Div2{
    margin: auto;
    text-align: center;
    width:500px;   
}
#myp2{
    margin: auto;
>>>>>>> c04a0ded56d6880f36aac77fd7d44b196babd72e
    text-align: center;
}