body
{
    background-color: blue;
    background-image: url("cupcake-3723832_960_720.jpg");
    background-size: 100%;
    background-size: cover;
}

h1 {
    font-family: cursive;
    padding: 20px;
    color: rgba(255,0,255,0.7)
}

p {
    color: red;
    color: #00ff00;
    color: rgba(255,0,255,0.7);
    text-align: center;
    display: inline-block;
}
.p1 {
    font-size: 30px;
    margin: auto;
}

#myp2 {
    font-family: cursive;
    width: 50%;
    padding: 20px;
}

#myp2{
    margin: auto;
    text-align: center;
    width:500px;
}

#Div1{
    background:green !important;
    margin: auto;
    text-align: center;
    width:600px;
    color: pink;
    border: green;
}
#Div2{
    background:red !important;
}

#Div1{
    margin: auto;
    text-align: center;
    width:900px;
    color: pink;
    border: yellow;
}
#Div2{
    margin: auto;
    text-align: center;
    width:500px;   
}
#myp2{
    margin: auto;
    text-align: center;
    width:500px;
}