#Div1 { 
    border: solid 1px blue;
    width:800px;
    border: 40px solid #402811;
    padding: 10px;
    margin: auto;
    font-size: 80px;
    text-align: center;
}

h1{
    text-align: center;
    color: blue;
}

#Div2{
    width:vw;
}

h1.solid {
    margin: auto;
    border-left-style: dotted;
    border-right-style: dotted;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 400px;
}

#theBody {
    background-image: url("cupcake-3723832_960_720.jpg");
}

